﻿@model AuthorizationService.ViewModels.LoginViewModel

<h2>Вход в систему</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="Remember"></label><br />
        <input asp-for="Remember" />
        <span asp-validation-for="Remember"></span>
    </div>
    <div>
        <input type="submit" value="Вход" />
    </div>
    <div>
        <input type="hidden" asp-for="ReturnUrl" value=@Model.ReturnUrl />
        <span asp-validation-for="ReturnUrl"></span>
    </div>
</form>
